-env = env
-file_minify = env !== 'dev' ? '.min' : ''

-pageDescription = 'Description here'
-description = 'a'
-keywords = ''
-author = ''
-copyright = ''
-isHome = false
-title = 'Page Title'
-bodyClass = ''

block vars

doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title=isHome ? title : title + '｜' + pageDescription

		meta(name="description", content=description)
		meta(name="keywords", content=keywords)
		meta(name="author", content=author)
		meta(name="copyright", content=copyright)
		meta(name="robots", content="index, follow")

		link(rel="icon", href="assets/images/favicon.png", type="image/png")

		link(rel="stylesheet", href='assets/css/styles' + file_minify + '.css')

	body(class=isHome ? 'home-page' : 'sub-page page-' + bodyClass data-env=env)
		#outside
			header#header
				block header
					include ../blocks/header

			main#wrapper
				block container

			footer#footer
				block footer
					include ../blocks/footer

		script(src='assets/js/bundle' + file_minify + '.js')
